<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.victory.batch.mapper.DeviceInfoMapper">

    <resultMap type="com.victory.batch.repository.DeviceRepository" id="DeviceRepository">
        <result property="appId"        column="APP_ID"/>
        <result property="usrId"        column="USR_ID"/>
        <result property="mobileNo"     column="MOBILE_NO"/>
        <result property="osType"       column="OS_TYPE"/>
        <result property="osVersion"    column="OS_VERSION"/>
        <result property="tokenPrivate" column="TOKEN_PRIVATE"/>
        <result property="tokenPublic"  column="TOKEN_PUBLIC"/>
        <result property="useAt"        column="USE_AT"/>
        <result property="regDt"        column="REG_DT"/>
        <result property="regId"        column="REG_ID"/>
        <result property="updDt"        column="UPD_DT"/>
        <result property="updId"        column="UPD_ID"/>
    </resultMap>

    <select id="selectDeviceInfo" resultMap="DeviceRepository">
        SELECT
        APP_ID
        ,USR_ID
        ,MOBILE_NO
        ,OS_TYPE
        ,OS_VERSION
        ,TOKEN_PRIVATE
        ,TOKEN_PUBLIC
        ,USE_AT
        ,REG_DT
        ,REG_ID
        ,UPD_DT
        ,UPD_ID
        FROM G_DEVICE_INFO
    </select>
</mapper>